@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto;
  }

  :root {
    --bg: #f1f5f9;
    --text: #0f172a;
    --card: #ffffff;
    --border: #e2e8f0;
    --back: white;



  }

  /* DARK THEME */
  html[data-theme="dark"] {
    --bg: #0b1220;
    --card: #0f172a;
    --border: rgba(255, 255, 255, 0.08);
    --text: #e5e7eb;

    --back: #232936;
  }

  /* GLOBAL */
  body {
    background: var(--back);
    color: var(--text);
  }

  .card {
    background: var(--card);
    color: var(--text);
    border: 2px solid var(--border);
  }

}

/* ── Hide scrollbar everywhere but keep scrolling working ── */

/* Chrome, Safari, Edge */
*::-webkit-scrollbar {
  display: none;
}

/* Firefox */
* {
  scrollbar-width: none;
}

/* IE / Edge legacy */
* {
  -ms-overflow-style: none;
}